.content h1{
  font-family: DM Sans;
  font-size: 48px;
  width : 40%;
  font-weight: 700;
  /* line-height: 56px; */
  text-align: left;
}

.content p {
font-family: DM Sans;
font-size: 20px;
font-weight: 400;
  width : 40%;
/* line-height: 22px; */
text-align: left;
}

button{
  width: 147px;
  height:40px;
  padding: 10px 16px 10px 16px;
  background : white;
  border-radius: 8px;
  color : black;
  border: none;

  text-decoration : none;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.hero{
background-size: cover;
}
