/* body { */
/*   font-family: Arial, sans-serif; */
/*   margin: 0; */
/*   padding: 0; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   height: 100vh; */
/*   background-color: #f0f0f0; */
/* } */
.slider-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide-image {
  width: 100%;
  border-radius: 10px;
}
.navigation {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.nav-dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-dot.active {
  background-color: #ff3d00;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}
.prev-button {
  left: 10px;
}
.next-button {
  right: 10px;
}
